.slick-track:focus {outline:0;}
.slick-slide:focus {outline:0;}
.project-wrapper:focus {outline:0;}
.project-slideshow:focus {outline:0;}
.project-slideshow{
   width: 100%;
   overflow: visible;
}
.project-slideshow ul{
  overflow: visible;
list-style: none; position: relative; float: left; display: block; left: 50%;
}
.project-slideshow ul li { overflow: visible;background:none !important; position: relative; float: left; display: block !important; right: 50%; }

.slick-active button{

  color: #000688;
  overflow: visible;
}
button{
  padding-bottom: 0px !important;
  line-height: 1;
}
.slick-slide img {
  margin: auto;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .slick-track {
    height:none;
  }
  .slick-slide img {
    max-height:none;
    width:100%;
  //  width:none;
  }
}
@media screen and (min-width: 1024px) {
  .slick-track, .slick-slide {
    height:100%;
  }
  .slick-slide img {
    max-height:100%;
    max-width:100%;
    width:auto;
  }
}


::selection {
  background: black;
  color: white; }

::-moz-selection {
  background: black;
  color: white; }

ul, dd {
  -webkit-margin-before: 0;
  -moz-margin-before: 0;
  -ms-margin-before: 0;
  -o-margin-before: 0;
  margin-before: 0;
  -webkit-margin-after: 0;
  -moz-margin-after: 0;
  -ms-margin-after: 0;
  -o-margin-after: 0;
  margin-after: 0;
  -webkit-margin-start: 0;
  -moz-margin-start: 0;
  -ms-margin-start: 0;
  -o-margin-start: 0;
  margin-start: 0;
  -webkit-margin-end: 0;
  -moz-margin-end: 0;
  -ms-margin-end: 0;
  -o-margin-end: 0;
  margin-end: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -ms-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;
  list-style-type: none; }
@font-face {
font-family: Suisse;
src: url('../css/fonts/suisse.otf') format("opentype");
}

@font-face {
font-family: Suisse;
font-weight: bold;
src: url('../css/fonts/suisse.otf') format("opentype");
}
button {
  border: none;
  background: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none; }

button:focus {
  outline: none; }

body {
  font-family: Suisse,helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  letter-spacing: 0.02em;
  background: #f8f8f8; }
  @media screen and (max-width: 1280px) {
    body {
      font-size: 95%;
      line-height: 100%; } }
  @media screen and (max-width: 1024px) {
    body {
      font-size: 100%;
      line-height: 100%; } }

dt, a {
  margin-top: 0px; }

a {
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0px; }
  a:hover {
  	color: #000688; }
  	

.contact a {
  margin-bottom: 0;
  border-bottom: 0; }
  .contact a:hover {
    border-bottom: none; }

.project-wrapper a {
//  border-bottom: 4px solid black; 
}

h1, h2, p {
  font-size: 1em;
  margin: 0;
  font-weight: 700; }

strong {
  font-weight: inherit;
  text-transform: uppercase; }

#project-links dt {
  cursor: pointer;
  margin-left: 50px; }
#project-links .open + dd {
  display: block; }
#project-links .open:before {
  content: "- "; }
#project-links .closed + dd {
  display: none; }
#project-links .closed:before {
  content: "+ "; }

header, .news, .imprint, .contact {
  position: fixed; }

header, .news {
  top: 25px; }

.imprint, .contact {
  bottom: 30px; }

header, .contact {
  left: 30px; }

.news, .imprint {
  right: 40px; }

header .bio {
  width: 260px; }

.projects {
  position: relative;
  top: 170px; }
  .projects .accordion-wrapper, .projects .thumbnails-wrapper {
    display: inline-block; }
  .projects .thumbnails-wrapper {
    top: 0;
    position: absolute; }
    .projects .thumbnails-wrapper img {
      max-width: 30%;
      padding-left: 5%; }
  .projects .accordion-wrapper {
    width: 500px;
    padding-left: 360px;
    z-index: 10000;
    position: relative; }
    @media screen and (max-width: 1280px) {
      .projects .accordion-wrapper {
        padding-left: 220px; } }
    .projects .accordion-wrapper dt {
      border: none;
      margin-bottom: 0px; }
    .projects .accordion-wrapper h2 {
      margin-bottom: 25px; }
    .projects .accordion-wrapper h2, .projects .accordion-wrapper dd ul li a {
      display: inline-block; }

.news {
  z-index: 10000; }
  .news h2 {
    cursor: pointer; }

.twitter-widget {
  position: absolute;
  width: 360px;
  top: 140px;
  right: 40px;
  z-index: 10000; }
  .twitter-widget h2 a {
    border: none; }
    .twitter-widget h2 a:hover {
      border: none; }

#twitter_feed p {
  margin-top: 10px;
  overflow-wrap: break-word;
  line-height: 1.1em; }
  #twitter_feed p:before {
    content: "+ "; }

@media screen and (max-width: 1024px) {
  .projects .thumbnails-wrapper {
    display: none !important; }

  header, .news, .imprint, .contact, .projects {
    position: relative;
    float: left;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px 0 5px 50px; }

  .twitter-widget, .news {
    display: none; }

  .projects .accordion-wrapper {
    padding-left: 0; } }
.project-wrapper {
  margin-top: 25px; }
  .project-wrapper .project-info, .project-wrapper .project-slideshow, .project-wrapper .close {
    display: inline-block;
    position: absolute; }
  .project-wrapper .project-info {
    left: 30px;
    width: 440px; }
    .project-wrapper .project-info div {
      margin-bottom: 25px; }
    .project-wrapper .project-info .project-year {
      position: absolute;
      top: 0;
      right: 0; }
    .project-wrapper .project-info .project-description p {
      margin-bottom: 25px; }
  .project-wrapper .close {
    right: 110px;
    z-index: 10000; }
    .project-wrapper .close a {
      padding: 0 0 22px 22px;
      border: none; }
      .project-wrapper .close a:hover {
        border: none; }
  .project-wrapper .project-slideshow {
    right: 110px;
    max-width: 50%;
    top: 25px; }

    @media screen and (max-width: 1280px) {
      .project-wrapper .project-slideshow {
        max-width: 37%; }
      .project-wrapper .project-slideshow ul {
          margin-top: -25px;
          position: absolute;
        }
      }
    .project-wrapper .project-slideshow ul {
        margin-top: -30px;
        position: absolute;
    }
    @media screen and (max-width: 1024px) {
      .project-wrapper .project-slideshow {
        max-width: 80%; } }
    .project-wrapper .project-slideshow div img {
      max-width: 100%; }


      .project-wrapper .project-slideshow ul li {
        background: #fff8fa;
        display: inline-block; }
        .project-wrapper .project-slideshow ul li button:hover {
          color: #000688;
          margin-bottom: -2px; }

@media screen and (max-width: 1024px) {
  .project-wrapper {
    position: relative; }
    .project-wrapper .project-info, .project-wrapper .project-slideshow {
      display: inline-block;
      position: relative;
      margin-left: 75px;
      left: 0; } }
.imprint-wrapper {
  position: relative;
  top: 25px;
  width: 500px;
  padding-left: 420px; }
  .imprint-wrapper p {
    margin-bottom: 25px; }
  .imprint-wrapper .close {
    position: fixed;
    top: 25px;
    right: 50px; }
    .imprint-wrapper .close a {
      font-size:23px;
      margin-bottom: 0;
      border-bottom: 0; }
      .imprint-wrapper .close a:hover {
        border-bottom: none; }

div#pageloader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: #fff0f0;
  z-index: 1000000; }
  div#pageloader img {
    margin: 25% 0 0 45%; }
